@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared-style */

.btn-primary{
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;

    
}

/* nav-bar/header start */


header{
    margin: 50px auto;
    max-width: 1410px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid yellow;
    margin: 50px 0;
    
}

nav ul{
    display: flex;
    
}
nav li{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
    margin-right: 34px;
    
}

nav li a{
    text-decoration: none;
}

.banner-section{
    
    border: 2px solid blue;
}

/* banner-setion */


.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-text{
    padding-right: 130px;
}

.banner-title{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-container  p{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    
}


.banner-image{
    object-fit: cover;
    width: 440px;
    height: 414px;
    background-image: url(../images/Circle\ design.svg);
    
}

/* main section start */

.partner-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    margin: 100px 165px;
}


/* collection section start */

.prducts-section{
    max-width: 1410px;
    margin: 0 auto ;
    border: 2px solid #E02C6D;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* text-align: center; */
}

.prducts-section h2{
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 50px;
    border: 1px solid green;
} 

.single-card {
    border: 1px solid magenta;
     width: 310px;
    height: 400px; */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    /* padding: 10px 14px; */
    
}
.single-card >img